<div class="container">

  <div class="list">
    <ul>
      <li class="t">Sobre nós</li>
      <li><a href="http://">Blog</a></li>
      <li><a href="http://">Nossas lojas</a></li>
      <li><a href="http://">Investidores</a></li>
      <li><a href="http://">Trabalhe conosco</a></li>
      <li><a href="http://">Painel do Colaborador</a></li>
      <li><a href="http://"> Pesquisa de qualidade</a></li>
      <li><a href="http://">Regulatório</a></li>
      <li><a href="http://">Nossos apoiadores</a></li>
      <li> <a href="http://"> Canal de Ética</a></li>
      <li><a href="http://">  Canal da mulher</a></li>
    </ul>
  </div>

  <div class="list">
    <ul>
      <li class="t"> Planos</li>
      <li><a href="http://"> Combos</a></li>
      <li><a href="http://">Internet</a></li>
      <li><a href="http://">TV</a></li>
      <li><a href="http://">Telefone</a></li>
      <li><a href="http://">Brisamóvel</a></li>
      <li><a href="http://">Brisanet 4G | 5G</a></li>
      <li><a href="http://">Para empresas</a></li>
    </ul>
  </div>

  <div class="list">
    <ul>
      <li class="t">Cliente</li>
      <li><a href="http://">Indique um Amigo</a></li>
      <li><a href="http://">Brisacliente</a></li>
      <li><a href="http://">Guia do Cliente</a></li>
      <li><a href="http://">Ouvidoria</a></li>
      <li><a href="http://">Ligamos para você</a></li>
      <li><a href="http://">Suporte remoto</a></li>
    </ul>
      <button type="button">Central de Ajuda</button><br>
      <button>Cental de Privacidade</button>
  </div>

  <div class="redes">
    <p>Siga a Brisanet nas redes sociais</p>
      <div class="img">
        <a href="http://"><img src="https://www.brisanet.com.br/icons/social/facebook.svg" alt=""></a>

        <a href="http://"><img src="https://www.brisanet.com.br/icons/footer/twitter_white.svg" alt=""></a>

        <a href="http://"><img src="https://www.brisanet.com.br/icons/footer/instagram_white.svg" alt=""></a>

        <a href="http://"><img src="https://www.brisanet.com.br/icons/footer/youtube_white.svg" alt=""></a>

        <a href="http://"><img src="https://www.brisanet.com.br/icons/footer/linkedin_white.svg" alt=""></a>

    </div>



    <p>Baixe o app Brisacliente</p>
     <div class="img2">
        <a href="http://"><img src="https://www.brisanet.com.br/imgs/playstore-badge.svg" alt=""></a>

        <a href="http://"><img src="https://www.brisanet.com.br/imgs/appstore-badge.svg" alt=""></a>
     </div>


</div>
