
<div class="carousel">
  <div class="slide">
    <img src="../../../assets/Captura de tela 2024-03-12 142315.png" alt="foto-propaganda1">
    <img src="../../../assets/Captura de tela 2024-03-12 142339.png" alt="foto-propaganda2">
    <img src="../../../assets/Captura de tela 2024-03-12 142401.png" alt="foto-propaganda3">
    <img src="../../../assets/Captura de tela 2024-03-12 142428.png" alt="foto-propaganda4">
    <img src="../../../assets/Captura de tela 2024-03-12 142315.png" alt="foto-propaganda1">
  </div>
</div>
