<div class="container">
  <div class="lista-2">
    <ul>
      <li ><strong>Para você</strong></li>
      <li><a href="">Empresas</a></li>
      <li><a href="">Parceiro</a></li>
      <li class="um"><strong>|</strong></li>
      <li class="um"><strong> SAC - 0800 281 3017</strong></li>
      <li ><a href=""> &#x1F4BC; Trabalhe conosco</a></li>
      <li><a href="">Atendimento v</a></li>
      <li><a href=""> Vendas v</a> </li>
      <li class="um"><strong>Juazeiro do Norte, CE </strong>v</li>
    </ul>

  </div>
</div>
