.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1{
  color:#f76023;
  text-align: center;
}
 input{
  margin-top: 10px;
  margin-left: 35%;
  font-size: 15pt;
  text-align:center ;
  border: none;
  background-color: #ffffff;
  width: 400px;
  height: 50px;
  border-radius: 10px;
}
hr{
  margin-top: 20px;
 }
p{
  margin-top: 15px;
  color: grey;
  text-align:center ;
}

