<hr>
<div class="container">
  <div class="img">
    <img src="https://www.brisanet.com.br/images/open-graph/brisanet-telecomunicacoes.jpg" alt="">
  </div>
  <ul>
    <li><a href="">INTERNET</a></li>
    <li><a href="">ENTRETENIMENTO</a></li>
    <li><a href="">TELEFONIA</a></li>
    <li><a href="">MUSIC</a></li>
    <li><a href="">COMBO</a></li>
    <li><a href="">INDIQUE UM <br> AMIGO</a></li>
    <li><a href="">MAIS<br>SERVIÇOS </a></li>
  </ul>

  <button class="assinante">ASSINE<br> JÁ!</button>
  <button class="client" >BRISACLIENTE</button>
</div>
