.container{
  height: 99px;
  display: flex;
  flex-direction:row;

  font-size : 17px;
  color: #1e2d69;
}
img{
  height:100px;
  width: 300px;
}

ul{
  display: flex;
  flex-direction:row;
margin-left: -100px;
}
li{
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding-inline-start:30px;
  font-weight: bold;
  color:#083d93;
}
a{
  text-decoration: none;
  list-style: none;
  color:#083d93;
}
button{
  font-size: 14.875px;
  line-height:26.0312px ;
  text-align: center;
  letter-spacing: normal;
  color: aliceblue;
  padding: 20px;
  border:none;
  border-radius: 2px;
}
.assinante{
  margin: auto;
  width: 113px;
  height: 58px;
  background-color: #f76023;
  padding:10px;
  text-align:center;
  margin-right: 10px;
}

.assinante:hover{
  transition-duration: 0.5s;
  background-color:#1f4f9e;
}

.client{
  width: 143px;
  height: 41px;
  margin: auto;
  background-color:#1f4f9e;
}

.client:hover{
  transition-duration: 0.5s;
  background-color:#f76023;
}
