<div class="container">
  <div class="titulo">PROMOÇÕES</div>
  <div class="sub-titulo">600 MEGA</div>
  <div class="descrisao">
    <p>instalação inclusa</p>
    <p>100% fibra optica</p>
    <p>wi-fi de auta performace</p>
    <p>Dawload 600 Mbpm</p>
    <p>Upload 600 Mbpm</p>
  </div>
  <div class="descrisao-dois">
    <h3>Apps inclusos</h3>
    <img src="https://brisasite-prod.s3.sa-east-1.amazonaws.com/goread_7a619bcb59.svg" alt="">
    <img src="https://brisasite-prod.s3.sa-east-1.amazonaws.com/skeelo_ba586874a8.svg" alt="">
  </div>
  <div class="preço">RS 89/mês</div>
  <div class="flooter">
    <a href="">Assine Já</a>
  </div>
</div>

