<div class="container">
  <div class="legenda">
    <h1>{{texth}}</h1>
    <p>{{textp}}</p>
  </div>

  <div class="cartaos">

    <div class="cards">
      <app-opcoes
      foto="https://www.brisanet.com.br/images/icons/footer/file-text.svg"
      titulo="2ª via da fatura"
      ></app-opcoes>
      <app-opcoes
        fotos="https://www.brisanet.com.br/icons/footer/map.svg"
        titulo="Nossos escritórios">
      </app-opcoes>
      <app-opcoes
      foto="https://www.brisanet.com.br/icons/footer/phone.svg"
      titulo="Ligamos para você"
      ></app-opcoes>
      <app-opcoes
      foto="https://www.brisanet.com.br/icons/footer/airplay.svg"
      titulo="Suporte remoto"
      ></app-opcoes>
    </div>

    <div class="cards">
      <app-opcoes
      foto="https://www.brisanet.com.br/icons/footer/whatsapp.svg"
      titulo="Autoatendimento
       via WhatsApp"
      ></app-opcoes>
      <app-opcoes
      foto="https://www.brisanet.com.br/icons/footer/help.svg"
      titulo="Central de ajuda"
      ></app-opcoes>
      <app-opcoes
      foto="https://www.brisanet.com.br/icons/footer/ouvidoria.svg"
      titulo="Brisa ouvidoria"
      ></app-opcoes>
      <app-opcoes
      foto="https://www.brisanet.com.br/icons/footer/edit.svg"
      titulo="Nosso blog"
      ></app-opcoes>
    </div>

  </div>

</div>
