<div class="container">
  <div class="legenda">
    <h1>Outros canais de <br> atendimento</h1>
    <p>Estamos sempre prontos para lhe atender. <br> Você pode se interessar por essas opções.</p>
  </div>

  <div class="cartaos">

    <div class="cards">
      <app-opcoes></app-opcoes>
      <app-opcoes></app-opcoes>
      <app-opcoes></app-opcoes>
      <app-opcoes></app-opcoes>
    </div>

    <div class="cards">
      <app-opcoes></app-opcoes>
      <app-opcoes></app-opcoes>
      <app-opcoes></app-opcoes>
      <app-opcoes></app-opcoes>
    </div>

  </div>

</div>
